test/*/*.tap
build-check
*.tmp
.redo
.meta
.cllct/src/scm-status
.cllct/src/sh-stats
.cllct/src/*.list
.cllct/src/*.func-list
.cllct/src/functions/*/*.func-deps
.cllct/src/functions/*.func-list
.cllct/src/*.lib-deps
src/md/man/User-Script:*-overview.md
src/man/man1sh/*.1sh
src/man/man3u_s/*.3u_s
src/man/man5/*.5
src/man/man7/*.7
src/md/man/u_s-lib-02-funcs.md
.gutctags
